*{
    box-sizing: border-box;
    /*border: 1px solid black;
    */
}

body{
    width: 100%;
    margin: 0;
    padding: 0;
}

/*********** NAV BAR**************/
/*********************************/

.nav-bar{
    display: block;
    width: 100%;
}

.logo{
    text-align: center;
    padding: 10px 10px 0 10px;
}
.nav{
    padding: 20px;
    display:flex;
    flex-direction: column;
}
.nav a{
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.nav a:hover{
    color: white;
    background-color:black;
}

@media(min-width:600px){
    .nav-bar{
        display: grid;
        grid-template-areas: "bd hd hd hd";
    }
    .logo{
        grid-area: bd;
        text-align:start;
    } 
    .nav{
        display:flex;
        flex-direction: row;
        grid-area: hd;
        justify-content: flex-end;
    }
    
    
}
*/